<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/task 
	 http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:component-scan base-package="com.idigitronics.iDiGiT.controller" />
	
	<mvc:default-servlet-handler/>
	
	<mvc:annotation-driven />
	
	<task:annotation-driven />
	
	 <bean id="individualbillgeneration" class="com.idigitronics.iDiGiT.dao.ExtraMethodsDAO"> </bean>
	 	<!-- <property name="targetObject" ref="ExtraMethodsDAO" />
  		<property name="targetMethod" value="individualbillgeneration" />   -->
	 <!-- <bean id="billgeneration" class="com.idigitronics.IDigi.dao.ExtraMethodsDAO"></bean> -->
	<!--<bean id="communicationfailurealert" class="com.idigitronics.IDigi.dao.ExtraMethodsDAO"></bean> -->
	<!-- <bean id="razorpayPaymentCapture" class="com.idigitronics.IDigi.dao.ExtraMethodsDAO"></bean> -->
</beans>